.footer {
	background-color: #eceaea;
	padding: 38px 0;
	
	& .nav__link {
		color: #555;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}

	&__address {
		display: flex;
		column-gap: 51px;
		row-gap: 10px;

		margin-left: auto;
	}

	&__phone {
		gap: 9px;;
	}

	&__adres {
		gap: 10px;;
	}
}

.footer__copyright {
	padding: 10px 0;
	font-size: 16px;

}
