.header {
	padding: 24px 0;
	border-bottom: 1px solid #e1e1e1;

	&__row {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 162px;
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}