.header {
	padding: 24px 0;
	margin-bottom: 45px;
	border-bottom: 1px solid #e1e1e1;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}