.modal {
    width: 700px;
    background-color: #ccc;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }
    &__img-wrapper {
        align-self: center;
    }
    &__inner {
        display: none;
    }
}
