.nav {
    padding-left: 96px;
    &__list {
        display: flex;
        gap: 48px;
    }
    &__header {
    }
    &__item {
    }
    &__link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #343030;
    }
}
