.title {
	font-family: var(--font-family);
	line-height: 1.5;
	color: var(--text-color);
}

.title--fz24-bold {
	font-size: 24px;
	font-weight: 700;
}
.title--fz18-reg {
	font-size: 18px;
	font-weight: 400;
}
.title--fz16-bold {
	font-size: 16px;
	font-weight: 700;
}
.title--fz14-bold {
	font-size: 14px;
	font-weight: 700;
}
.title--fz14-reg {
	font-size: 14px;
	font-weight: 400;
}
.title--fz14-light {
	font-size: 14px;
	font-weight: 300;
}
